<div class="main-content-container">
  <div class="main-headline fav-headline-pos">Your Favorite Gems</div>
  <div class="favorites-container favorites-container-pos">
    <ul class="favorites gem-name">
    </ul>
  </div>
</div>
