$( document ).ready(function() {
  // display saved favorites
  function displayFavorites() {
    let listItems = '';

    for( var i = 0; i < localStorage.length; i++ ) {
      if ( localStorage.key(i) != 'better_errors_previous_commands' ) {
        listItems += '<li>' +
                     '<img src="<%= asset_path("star-blue.png") %>"' +
                     'class="star" data-id="'+
                     localStorage.key(i) +
                     '"data-color = "blue">'+
                     '<a href="' +
                     localStorage.getItem(localStorage.key(i)) +
                     '" target="_blank"' +
                     '>' +
                     localStorage.key(i) +
                     '</a>' +
                     '</li>';
      }
    }

    $('.favorites').html(listItems);
  }

  // method call upon page load
  displayFavorites();

  // add active class to 'favorites'
  if( location.href === 'http://localhost:3000/favorites' ) {
    $('#nav-link2').addClass('active');
    $('#nav-link1').removeClass('active');
  }

});
