/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require-tree .
 *= require-self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url( 'https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

li{
  padding: 0;
  margin: 0;
}

.container-fluid{
  margin: 0px;
  padding: 0px;
}

.row{
  padding: 0px;
  margin: 0px;
}

.col{
  padding: 0px;
  margin: 0px;
}
/***************************
        Side Nav
***************************/

.side-hero {
  background: image-url("map.png") center center ;
  background-size: cover;
  min-height: 100vh;
}

.logo {
  width: 89px;
  height: 15px;
  margin: 25px;
}

.navigation{
  margin-top: 50%;
  float: right;
}

.navigation li {
  width: 143px;
  height: 50px;
  padding: 10px 47px 11px 22px;
}

.navigation a {
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  line-height: 29px;
  width: 74px;
  height: 29px;
  text-decoration: none;
}

.navigation a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.active {
  font-weight: 800;
  background: rgba(255, 255, 255, 0.17);
}

/***************************
    Main Content - Search
 ***************************/

.main-content-container {
  font-size: 15px;
  color: #8E8E8E;
  letter-spacing: 0.5px;
  line-height: 23px;
  margin: 100px 0 0 100px;
}

.main-headline {
  font-weight: 700;
  font-size: 40px;
  color: #2C2F33;
  letter-spacing: 1px;
  line-height: 50px;
  margin:0 0 40px 50px;
}

.headline-pos {
  height: 50px;
}

.search-box-container {
  height: 89px;
  width: 80%;
  margin: 0 0 50px 0;
}

.search-box-no-error{
  background: #FFFFFF;
  border: 1px solid #5F5F5F;
  border-radius: 100px;
}

input[type=text] {
  outline: none;
  border: none;
  background: rgba(255,255,255, 0);
  font-size: 18px;
  color: #5F5F5F;
  line-height: 89px;
  margin:0 0 0 50px;
  width: 80%;
}

.search-results {
  width: 80%;
  margin-left: 50px;
}

.gem-name {
  margin-bottom: 32px;
}

.gem-name a {
  font-weight: 600;
  font-size: 18px;
  color: #1F6CDE;
  line-height: 29px;
}

.gem-name a:hover {
  color: #1F6CDE;
}

.title {
  color: #2C2F33;
  margin-bottom: 8px;
}

.gem-info {
  width: 80%;
  margin-bottom: 29px;
}

.gem-deps{
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

.gem-deps li{
  margin-bottom: 10px;
}

.error-message {
  font-weight: 900;
  font-size: 24px;
  color: #FF4F4F;
  letter-spacing: 0.67px;
  line-height: 29px;
  text-align: center;
  width: 80%;
}

.search-box-error {
  background: #FFFFFF;
  border: 1px solid #FF4F4F;
  border-radius: 100px;
}

.star {
  margin: 0 8px;
}
/***************************
    Main Content - Favorites
 ***************************/
.fav-headline-pos {
  height: 50px;
  margin: 0 0 35px 0;
}

.favorites-container {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  height: 100%;
  width: 90%;
}

.favorites-container li {
  margin: 0 0 17px 0;
}


/***************************
    Media Query
 ***************************/
@media (max-width: 576px) {

  .side-hero {
    min-height: 200px;
  }

  .navigation{
    margin-top: 20px;
    float: right;
  }

  .main-content-container {
    font-size: 15px;
    color: #8E8E8E;
    letter-spacing: 0.5px;
    line-height: 23px;
    margin: 10px;
  }

  .main-headline {
    font-weight: 700;
    font-size: 40px;
    color: #2C2F33;
    letter-spacing: 1px;
    line-height: 50px;
    margin: 5px;
    text-align: center;
  }

  .search-box-container {
    height: 45px;
    width: 60%;
    margin: 10px 10px 20px 0px;
  }

  input[type=text] {
    outline: none;
    border: none;
    background: rgba(255,255,255, 0);
    font-size: 12px;
    color: #5F5F5F;
    line-height: 45px;
    margin:0 0 0 10px;
    width: 70%;
  }

  .search-icon{
    width: 12px;
  }

  .search-results {
    width: 90%;
    margin-left: 10px;
  }

  .gem-deps{
    columns: auto;
    -webkit-columns: auto;
    -moz-columns: auto;
  }

  .gem-info {
    width: 90%;
    margin-bottom: 29px;
  }

  .error-message {
    font-weight: 900;
    font-size: 24px;
    color: #FF4F4F;
    letter-spacing: 0.67px;
    line-height: 29px;
    text-align: center;
    width: 100%;
  }

  .fav-headline-pos {
    height: 50px;
    margin: 0 0 50px 0;
  }

  .favorites-container {
    columns: auto;
    -webkit-columns: auto;
    -moz-columns: auto;
    height: 100%;
    width: 90%;
  }

  .favorites-container li {
    margin: 0 0 17px 0;
  }

}
