/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require-tree .
 *= require-self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url( 'https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.grid {
  display: grid;
  grid-template-columns: 531px 1389px;
  grid-template-areas: "sh mc";
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

li{
  padding: 0;
  margin: 0;
}
/***************************
        Side Nav
***************************/

.side-hero {
  grid-area: sh;
  background: image-url("map.png") no-repeat left top;
  width: 531px;
  height: 900px;
}

.logo {
  position: absolute;
  width: 89px;
  height: 15px;
  top: 44px;
  left: 394px;
}

.navigation ul {
  position: absolute;
  top: 370px;
  left: 389px;
}

.navigation li {
  /* Search: */
  width: 143px;
  height: 50px;
  padding: 10px 47px 11px 22px;
}

.navigation a {
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  line-height: 29px;
  width: 74px;
  height: 29px;
  text-decoration: none;
}

.navigation a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.active {
  font-weight: 800;
  background: rgba(255, 255, 255, 0.17);
}

/***************************
    Main Content - Search
 ***************************/

.main-content-container {
  grid-area: mc;
  position: relative;
  font-size: 15px;
  color: #8E8E8E;
  letter-spacing: 0.5px;
  line-height: 23px;
}

.main-headline {
  font-weight: 700;
  font-size: 40px;
  color: #2C2F33;
  letter-spacing: 1px;
  line-height: 50px;
}

.headline-pos {
  position: absolute;
  top: 203px;
  left: 174px;
  width: 651.12px;
  height: 50px;
}

.search-box-container {
  width: 780px;
  height: 89px;
  position: absolute;
  top: 299px;
  left: 117px;
}

.search-box-no-error{
  background: #FFFFFF;
  border: 1px solid #5F5F5F;
  border-radius: 100px;

}

input {
  outline: none;
  border: none;
  background: rgba(255,255,255, 0);
  position: absolute;
  top: 31px;
  left: 57px;
  font-size: 18px;
  color: #5F5F5F;
}

.search-icon {
  position: absolute;
  top: 35px;
  left: 718px;
}

.search-results {
  position: absolute;
  top: 435px;
  left: 172px;
  width: 693px;
}

.gem-name {
  margin-bottom: 32px;
}

.gem-name a {
  font-weight: 600;
  font-size: 18px;
  color: #1F6CDE;
  line-height: 29px;
}

.gem-name a:hover {
  color: #1F6CDE;
}

.title {
  color: #2C2F33;
  margin-bottom: 8px;
}

.gem-info {
  margin-bottom: 29px;
}

.gem-deps li{
  margin-bottom: 10px;
}

.error-message {
  font-weight: 900;
  font-size: 24px;
  color: #FF4F4F;
  letter-spacing: 0.67px;
  line-height: 29px;
  text-align: center;
  position: absolute;
  top: 404px;
  left: 179px;
  width: 659px;
}

.search-box-error {
  background: #FFFFFF;
  border: 1px solid #FF4F4F;
  border-radius: 100px;
}

.star {
  margin: 0 8px;
}
/***************************
    Main Content - Favorites
 ***************************/
.fav-headline-pos {
  position: absolute;
  top: 203px;
  left: 89px;
  width: 651.12px;
  height: 50px;
}

.favorites-container {
  position: absolute;
  top: 333.73px;
  left: 88px;
  columns: 3;
  height: 100%;
  width: 80%;
}

.favorites-container li {
  margin: 0 0 17px 0;
}
